@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.container {
    margin-top: 20px;
  }
  .col {
    padding: 10px;
  }
  .selected {
    background-color: rgb(132, 204, 228);
  }

  .selected2 {
    background-color: rgb(209, 243, 255);
  }
  .no-seleccionable {
    pointer-events: none; /* Evita que se pueda hacer clic en la celda */
    background-color: #f10000; /* Cambia el color de fondo para indicar que la celda no está disponible */
    /* Otros estilos que desees para indicar la indisponibilidad */
}

@media(max-width: 600px  ){
.email-card {
  margin-top: 1vh;
}
}

.bg-image {
  background-image: url('../img/hero.png');
  background-size: 100% 100%;
  height: 400px;

}
.mask {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}
.title {
  font: 700 6rem 'Dancing Script', 'Arial', 'Helvetica', sans-serif;
} 
#about {
  background-color: #f8ede8;
}
